.vs/CCoding/FileContentIndex/facb4bb3-9ea3-4121-84ea-59801d4f25ad.vsidx
.vs/CCoding/v17/.suo
.vs/CCoding/DesignTimeBuild/.dtbcache.v2
.vs/CCoding/FileContentIndex/41404b91-c22d-4fb7-b851-29ada5624dd6.vsidx
.vs/CCoding/FileContentIndex/b21d7259-d8e8-4d5e-b01b-34b0b98e392c.vsidx
.vs/CCoding/v17/.suo
.vs/CCoding/DesignTimeBuild/.dtbcache.v2
