.vs/CCoding/FileContentIndex/facb4bb3-9ea3-4121-84ea-59801d4f25ad.vsidx
.vs/CCoding/v17/.suo
.vs/CCoding/DesignTimeBuild/.dtbcache.v2
.vs/CCoding/FileContentIndex/41404b91-c22d-4fb7-b851-29ada5624dd6.vsidx
.vs/CCoding/FileContentIndex/b21d7259-d8e8-4d5e-b01b-34b0b98e392c.vsidx
.vs/CCoding/v17/.suo
.vs/CCoding/DesignTimeBuild/.dtbcache.v2
.vs/CCoding/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
.vs/CCoding/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
.vs/CCoding/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
.vs/CCoding/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
.vs/CCoding/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
.vs/CCoding/FileContentIndex/2f3c6ed6-489a-4dfd-82fb-0cf02034e1bc.vsidx
.vs/CCoding/FileContentIndex/91deba01-3770-4c9e-9641-1d370cd4d938.vsidx
.vs/CCoding/FileContentIndex/f2df9db6-1e1a-45b8-b416-50cfe91175c9.vsidx
